.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__content {
  background-color: white;
  border: 1px solid #DDD;
  box-shadow: rgba(0, 0, 0, 0.1) 5px 5px 20px;
  margin: auto;
  width: 500px;
  outline: none;
  position: relative;
}

.modal__overlay {
  @extend %button-reset;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
}
