.add-server-form {
  padding: 15px;
}

.add-server-form__field {
  display: block;
  margin-bottom: 10px;
}

.add-server-form__label {
  display: block;
  font-size: 13px;
  color: #999;
  margin-bottom: 3px;
}

.add-server-form__submit-button {
  background: $primary-color;
  color: #FFFFFF;
  font-size: 12px;
}
