.editable-field {
  position: relative;
  display: inline-block;
  width: auto;
  cursor: text;
  text-decoration: inherit;
  color: inherit;

  &:hover::before,
  &--edited::before {
    content: '';
    position: absolute;
    left: -5px;
    right: -5px;
    top: -2px;
    bottom: -2px;
    border: solid 2px lighten($font-color, 26%);
    border-radius: 3px;
    pointer-events: none;
  }

  &__preview {
    white-space: pre;
    text-decoration: inherit;
    color: inherit;
  }

  &--edited &__preview {
    visibility: hidden;
  }

  &__input {
    color: inherit;
    font: inherit;
    padding: inherit;
    margin: inherit;
    outline: inherit;
    border: inherit;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: transparent;
  }

  &__icons {
    position: absolute;
    left: -5px;
    bottom: -24px;
    white-space: nowrap;
  }

  &__icon {
    font-size: 14px;
    text-decoration: inherit;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 22px;
    height: 22px;
    color: $font-color;
    background: lighten($font-color, 40%);
    border: solid 1px lighten($font-color, 26%);
  }
}
