.inspect-server {
  display: flex;
  flex: auto;
  flex-direction: column;
  overflow-y: auto;
}

.inspect-server__header {
  flex: none;
}

.inspect-server-details {
  margin-right: auto;
}

.inspect-server-details__name {
  font-size: 26px;
  font-weight: 500;
}

.inspect-server-header {
  display: flex;
  padding: 10px 15px;
  align-items: center;
  border-bottom: $inspect-server-header-border-bottom;
}

.inspect-server-spec {
  display: flex;
  font-size: 12px;
  letter-spacing: 0.5px;
}

.inspect-server-spec__item {
  padding: 4px 7px;
  border-right: 1px solid #EEE;

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    border-right: none;
  }
}

.inspect-server-spec__value {
  margin-left: 3px;
}

.inspect-server-spec__label {
  color: $inspect-server-spec-label-font-color;
  font-weight: 300;
}

.inspect-server__main {
  flex: auto;
}

.inspect-server-main {
  display: flex;
  flex-direction: column;
}

.inspect-server__add-task-button {
  border: $inspect-server-add-task-button-border;
  margin-right: 10px;
}

$size: 40px;

.inspect-server-header__toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  margin-right: 10px;
}

.inspect-server-header-toggle {
  background-color: $start-button-background-color;
  font-size: 21px;
  border-radius: 100%;
  cursor: pointer;
  height: $size;
  width: $size;
  display: flex;
  align-items: center;
  justify-content: center;
  border: $start-button-border;
  border: $start-button-default-border;
  transition: all .1s ease-in-out;

  &:hover {
    color: $start-button-font-color;
    border: $start-button-border;
    height: $size + 5;
    width: $size + 5;
  }
}

.inspect-server-header-toggle.inspect-server-header-toggle--up {
  color: $start-button-font-color;
  border: $start-button-border;

  &:hover {
    color: $stop-button-font-color;
    border: 2px solid $stop-button-font-color;
  }
}

.inspect-server__tasks {
  flex: auto;
  position: relative;
}

.inspect-server-tasks-header {
  background-color: $tasks-header-background-color;
  padding: 10px 15px;
  font-weight: 500;
  display: flex;
  align-items: center;
  flex: none;
}

.inspect-server-tasks-header__button {
  &:hover {
    color: $primary-color;
  }
}

.inspect-server-tasks-header__label {
  margin-right: auto;
}

.inspect-server__tasks-scroll-container {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.inspect-server__remove-button {
  background-color: transparent;
  font-size: 24px;
  transition: color .2s ease;
  cursor: pointer;
  color: $inspect-server-remove-button-font-color;

  &:hover {
    color: $inspect-server-remove-button-hover-font-color;
  }
}

