.inspect-server {
  display: flex;
  flex: auto;
  flex-direction: column;
  overflow-y: auto;
}

.inspect-server__header {
  flex: none;
}

.inspect-server-details__name {
  font-size: 26px;
  font-weight: 500;
}

.inspect-server-header {
  display: flex;
  padding: 10px 15px;
  align-items: center;
  border-bottom: $inspect-server-header-border-bottom;
}

.inspect-server-spec {
  display: flex;
  font-size: 12px;
  letter-spacing: 0.5px;
}

.inspect-server-header__toggle {
  margin-right: 10px;
}

.inspect-server-spec__item {
  padding: 4px 7px;
  border-right: 1px solid #EEE;

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    border-right: none;
  }
}

.inspect-server-spec__value {
  margin-left: 3px;
}

.inspect-server-spec__label {
  color: $inspect-server-spec-label-font-color;
  font-weight: 300;
}

.inspect-server__main {
  flex: auto;
}

.inspect-server-main {
  display: flex;
  flex-direction: column;
}

.inspect-server-details__row {
  align-items: center;
  display: flex;
}

.inspect-server-details__cell {
  margin-right: 10px;
}

.inspect-server__add-task-button {
  border: $inspect-server-add-task-button-border;
}

.inspect-server-main-buttons {
  @extend %list-reset;
  display: flex;
  align-items: center;
  margin: 15px;
}

.inspect-server-main-buttons__item {
  margin-right: 10px;
}

.inspect-server-queue {
  margin: 0 15px 15px;
}

