.queues {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
}

.queues__item {
  margin: 20px 0;
}

.queue {
  display: flex;
}

.queue__requirements {
  background: #BBB;
  flex: none;
  padding: 20px;
}

.queue__tasks {
  flex: none;
}
