.responses {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-left: 20px;
  padding: 0;
  width: 100%;
}

.responses__item {
  margin-bottom: 10px;
}

.response {
  background: #EEE;
  flex: none;
  padding: 20px;
}
