.server-page {
  display: flex;
  flex: auto;
  flex-direction: column;
}

.server-panel {
  display: flex;
  flex: auto;
  flex-direction: column;
  padding: 15px;
}

.server-panel__header {
  flex: none;
}

.server-panel__main {
  flex: auto;
}

.server-panel-main {
  display: flex;
  flex-direction: column;
}

.server-panel__tabs {
  flex: none;
}

.server-panel__tab {
  flex: auto;
  overflow: scroll;
}
