.server {
  display: flex;
  flex: auto;
  flex-direction: column;
  overflow-y: auto;
}

.server-inspect {
  display: flex;
  flex: auto;
  flex-direction: column;
  padding: 15px;
}

.server-inspect__header {
  flex: none;
  font-size: 20px;
}

.server-inspect__main {
  flex: auto;
}

.server-inspect-main {
  display: flex;
  flex-direction: column;
}

.server-inspect-details__row {
  align-items: center;
  display: flex;
  margin: 10px 0;
}

.server-inspect-details__cell {
  background: #EEE;
  padding: 5px 10px;
  margin-right: 10px;
  border-radius: 2px;
  font-size: 14px;

  &:last-child {
    margin-right: 0;
  }
}

