.server-placeholder {
  height: 100%;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  color: $primary-font-color;
  font-size: 44px;
  text-transform: uppercase;
  font-family: $secondary-font-family;
  font-weight: bold;
}
