.server {
  display: flex;
  flex: auto;
  flex-direction: column;
  padding: 15px;
}

.server-details__row {
  align-items: center;
  display: flex;
  margin: 10px 0;
}

.server-details__cell {
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }
}

.server__details {
  flex: none;
}

.server__expectations {
  flex: auto;
}

.server-expectations {
  display: flex;
}

.server-expectations__type {
  flex: 1;

}

.server-expectations-type {
  display: flex;
  flex-direction: column;
  flex: 1;
}


.server-expectations-type__header {
  flex: none;
}

.server-expectations-type__list {
  flex: auto;
  overflow: auto;
}
