.server-config-tab-details__row {
  align-items: center;
  display: flex;
  margin: 10px 0;
}

.server-config-tab-details__cell {
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }
}

.server-config-tab__tasks {
  flex: auto;
}

.server-config-tab-tasks {
  display: flex;
}

.server-config-tab-tasks__type {
  flex: 1;

}

.server-config-tab-tasks-type {
  display: flex;
  flex-direction: column;
  flex: 1;
}


.server-config-tab-tasks-type__header {
  flex: none;
}

.server-config-tab-tasks-type__list {
  flex: auto;
  overflow: auto;
}
