.sidebar-servers-header {
  color: #FFF;
  background-color: $primary-color;
  padding: 0 10px;
  display: flex;
  align-items: center;
  letter-spacing: 0.5px;
  font-size: 15px;
  font-weight: 500;
  height: 40px;
}

.sidebar-servers-header__icon {
  margin-right: 10px;
}

.sidebar-servers__add-server-button {
  color: #FFF;
  margin-left: auto;
  font-size: 18px;
}

.sidebar-servers-list {
  @extend %list-reset;
}

.sidebar-server-list__link {
  display: block;
  padding: 3px 5px;
  color: inherit;
  text-decoration: none;
  width: 100%;
}

.sidebar-servers-list-item {
  font-size: 13px;
  border-bottom: 1px solid #DDD;
  display: flex;
  align-items: center;
  padding: 3px 9px;
  letter-spacing: 1px;
  color: #999;

  &:hover {
    background-color: #e7e7e7;
  }
}

.sidebar-servers-list-item--selected {
  background-color: #e7e7e7;
}

.sidebar-server__status-indicator {
  color: #CCC;
  padding: 0 7px 0 3px;
  transition: color .3s ease;
}

.sidebar-server__status-indicator--up {
  color: #02d77d;
}
