$size: 50px;

.server-stop-button {
  font-size: 23px;
  border-radius: 100%;
  cursor: pointer;
  height: $size;
  width: $size;
  background-color: $stop-button-background-color;
  color: $stop-button-font-color;
  display: flex;
  align-items: center;
  justify-content: center;
  border: $stop-button-border;
}
