.tasks {
  @extend %list-reset;
  width: 100%;
}

.tasks__item {
  border-bottom: 1px solid #EEE;
}

.task {
  padding: 5px 15px;
  width: 100%;
  display: flex;
  align-items: center;
}

.task--running {
  background-color: $task-status-running-background-color;
}

.task__title {
  margin-right: 15px;
  flex: none;
}

.task-spec {
  display: flex;
  align-items: center;
  flex: none;
}

.task__remove-button {
  @extend %button-reset;
  cursor: pointer;
  font-size: 16px;
  color: $task-remove-button-font-color;
  margin-left: auto;
  transition: color .2s ease;

  &:hover {
    color: $task-remove-button-hover-font-color;
  }
}

.task-spec__tag {
  border-radius: 3px;
  padding: 2px 6px;
  margin-right: 10px;
  font-size: 11px;
  background-color: $task-spec-tag-background-color;
  color: darken($task-spec-tag-background-color, 40%);
}
