.tasks {
  @extend %list-reset;
  width: 100%;
}

.tasks__item {
  border-bottom: 1px solid #EEE;
}

.task {
  padding: 5px;
  width: 100%;
  display: flex;
  align-items: center;
}

.task-details__row {
  margin: 10px;
}

.task__remove-button {
  @extend %button-reset;
  cursor: pointer;
  font-size: 16px;
  color: $task-remove-button-font-color;
  margin-right: 10px;
  transition: color .2s ease;

  &:hover {
    color: $task-remove-button-hover-font-color;
  }
}
