.add-server-modal {
  background-color: white;
  border: 1px solid #DDD;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.1) 5px 5px 20px;
  padding: 5px;
  margin: auto;
  width: 500px;
  outline: none;
}

.add-server-modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-server-modal-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  display: flex;
}
