.add-ws-mock-tasks-list {
  @extend %list-reset;
  margin-bottom: 20px;
}
.add-ws-mock-tasks-list__item {
  padding: 20px 0;
  border-bottom: 10px solid #EEE;

  &:last-child {
    border-bottom: none;
  }
}
