.form-field__label {
  color: #00143C;
  font-size: 12px;
  margin-bottom: 5px;
  display: block;
  opacity: 0.5;
}

.form-field__input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #DDDFE4;
  padding: 8px 0;
  color: #484F59;
  display: block;
  font-size: 16px;
  outline: none;
  width: 100%;
}

.form-field__select {
  border: none;
  border-bottom: 1px solid #DDDFE4;
}

.form-field__select .Select-control {
  border: none;
}

.form-field__select .Select-arrow {
  border-color: #23D1A9 transparent transparent !important;
}

.form-field__select.is-open .Select-arrow {
  border-color: transparent transparent #23D1A9 !important;
}

.form-field__switch {
  margin: 8px 0;
}
