$padding-left: 24px;

.inspect-server {
  display: flex;
  flex: auto;
  flex-direction: column;
  overflow-y: auto;
}

.inspect-server__header {
  flex: none;
}

.inspect-server-details {
  margin-right: auto;
}

.inspect-server-details__name {
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 6px;
}

.inspect-server-header {
  display: flex;
  padding: 24px 24px 24px $padding-left;
  align-items: center;
  border-bottom: 1px solid #EBEBEB;
}

.inspect-server-spec {
  display: flex;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.5px;
}

.inspect-server-spec__item {
  color: #60666F;
  margin-right: 12px;
}

.inspect-server-spec__value {
  margin-left: 3px;
}

.inspect-server-spec__label {
  opacity: 0.39;
  font-weight: 300;
}

.inspect-server__main {
  flex: auto;
  background-color: #F6F7F9;
}

.inspect-server-main {
  display: flex;
  flex-direction: column;
}

.inspect-server__add-scene-button {
  @extend %button-reset;
  text-decoration: none;
  margin-right: 10px;
  padding: 0 20px;
  border-right: 1px solid #D8D8D8;
}

$size: 40px;

.inspect-server-header-toggle__icon {
  transition: all .5s ease;
}

.inspect-server-header-toggle {
  margin-right: 20px;
  cursor: pointer;

  #Oval {
    transition: all .3s ease;
  }

  &:hover {
    #Oval {
      r: 28;
    }
  }
}

.inspect-server-header-toggle--up {
  #Oval {
    stroke: #23D1A9;
    r: 28;
  }

  .inspect-server-header-toggle__icon {
    fill: #23D1A9;
  }
}

.inspect-server-header-toggle {
  @extend %button-reset;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .1s ease-in-out;
  padding: 0;
}

.inspect-server__scenes {
  flex: auto;
  position: relative;
}

.inspect-server-scenes-header {
  color: #727880;
  padding: 16px 15px 16px $padding-left;
  font-weight: 500;
  display: flex;
  align-items: center;
  flex: none;
  font-size: 15px;
}

.inspect-server-scenes-header__button {
  &:hover {
    color: #23D1A9;
  }
}

.inspect-server-scenes-header__label {
  margin-right: 50px;
}

.inspect-server__scenes-legend {
  margin-right: auto;
}

.inspect-server-scenes-legend {
  @extend %list-reset;
  display: flex;
  font-weight: 300;
  color: #6B717A;
  font-size: 12px;
}

.inspect-server-scenes-legend__item {
  margin-right: 18px;
}

.inspect-server-scenes-legend-item {
  display: flex;
  align-items: center;
}

.inspect-server-scenes-legend__icon {
  display: inline-block;
  border-radius: 100%;
  height: 6px;
  width: 6px;
  background-color: #E1E5EE;
  margin-right: 8px;
}

.inspect-server-scenes-legend__icon--cancelled {
  background-color: #EC9292;
}

.inspect-server-scenes-legend__icon--in-progress {
  background-color: #B9EBE0;
}

.inspect-server-scenes-legend__icon--finished {
  background-color: #23D1A9;
}

.inspect-server__scenes-scroll-container {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.inspect-server__remove-button {
  background-color: transparent;
  font-size: 24px;
  transition: color .2s ease;
  cursor: pointer;

  &:hover {
    opacity: .5;
  }
}

.inspect-server__edit-button {
  text-decoration: none;
  margin: 0 10px;
}
