.scenes {
  @extend %list-reset;
  padding: 0 $padding-left;
  width: 100%;
}

.scenes__item {
  margin-bottom: 12px;

  &:last-child {
    margin-bottom : 0;
  }
}

.scene {
  border-radius: 2px;
  background-color: #FFFFFF;
  box-shadow: 0 1px 0 0 rgba(0,0,0,0.08);
  display: flex;
  flex-direction: column;
  padding: 18px 24px;
  font-size: 15px;
}

.scene-details {
  display: flex;
  align-items: center;
}

.scene__title {
  margin-right: 15px;
  flex: none;
  font-weight: 500;
}

.scene-spec {
  display: flex;
  align-items: center;
  flex: none;
}

.scene__remove-button {
  @extend %button-reset;
  cursor: pointer;
  font-size: 13px;
  font-weight: 500;
  color: #ED4608;
  margin-left: auto;
  transition: color .2s ease;
  text-transform: uppercase;
}

.scene-spec__tag {
  border-radius: 3px;
  padding: 2px 6px;
  margin-right: 10px;
  font-size: 13px;
  background-color: $scene-spec-tag-background-color;
  color: darken($scene-spec-tag-background-color, 40%);
}

.scene--running {
  background-color: $task-status-running-background-color;
  transition: none;
}

.scene--finished {
  color: lighten($font-color, 30%);
  background-color: inherit;
}
