.scene-part-list {
  @extend %list-reset;
}

.scene-part-list-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #EBEBEB;
  padding: 10px 0;
}

.scene-part-list-item-spec__tag {
  border-radius: 3px;
  padding: 2px 6px;
  margin-right: 10px;
  font-size: 13px;
  background-color: $scene-spec-tag-background-color;
  color: darken($scene-spec-tag-background-color, 40%);
}

.scene-part-list-item__remove-button {
  @extend %button-reset;
  cursor: pointer;
  font-size: 16px;
  color: $scene-remove-button-font-color;
  margin-left: auto;
  transition: color .2s ease;

  &:hover {
    color: $scene-remove-button-hover-font-color;
  }
}

.scene-part-list-item-spec {
  display: flex;
  align-items: center;
  flex: none;
}

.scene-part-list-item-title {
  padding: 5px 15px;
  display: flex;
  align-items: center;
  font-weight: 300;
}

.scene-part-list-item__title {
  margin-right: 15px;
  flex: none;
}

.scene-part-expand-button {
  @extend %button-reset;
  cursor: pointer;

  &:hover {
    opacity: .5;
  }
}
